@import "styles/colors.scss";

.header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    color: $on-base;

    &:focus {
      box-shadow: 0 0 2px $primary;
    }
  }

  &__navigation {
    display: inline-flex;
    align-items: center;
  }

  &__link {
    margin-left: 1em;
    margin-right: 0;
  }
}
