<div class="header">
  <a class="header__title" routerLink="/">EmployeeApp</a>
  <nav class="header__navigation">
    <a
      class="app-a header__link"
      routerLink="demo"
      routerLinkActive="app-a_active"
    >
      Demo
    </a>
    <ng-container *ngIf="!isAuthorized">
      <a
        class="app-a header__link"
        routerLink="auth/login"
        routerLinkActive="app-a_active"
      >
        Log in
      </a>
      <a
        class="app-a header__link"
        routerLink="auth/registration"
        routerLinkActive="app-a_active"
      >
        Registration
      </a>
    </ng-container>
    <ng-container *ngIf="isAuthorized">
      <a class="app-a header__link" routerLink="employees">Employees</a>
      <a class="app-a header__link" (click)="onProfileNavigate()">Profile</a>
      <a class="app-a header__link" (click)="onSignOut()">Sing Out</a>
    </ng-container>
  </nav>
</div>
