<div class="app-page">
  <div class="app-page__header">
    <h1>Welcome!</h1>
  </div>
  <div class="app-page__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ab sint
      iste nihil at eveniet, ipsum labore consectetur corrupti earum vitae ad
      hic quae, excepturi atque assumenda repellat voluptatem facere.
    </p>
    <p>
      Delectus quidem voluptatibus blanditiis dolor veritatis ratione architecto
      eius rem eum, eaque, possimus qui cumque unde nostrum sequi harum
      provident officia veniam corporis! Minima deserunt quod ducimus suscipit
      fugiat inventore. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Laborum praesentium blanditiis modi! Dignissimos, officiis explicabo
      nobis cupiditate aperiam ab qui in fugit rerum ipsa odio rem unde impedit
      veritatis reiciendis! Dolor ullam error in ut et iste fuga veritatis
      nesciunt, magnam cupiditate architecto harum odio quo maxime, delectus
      magni laboriosam consectetur perferendis aperiam mollitia incidunt cumque
      explicabo! Officiis, sit repudiandae? Voluptas odit debitis doloribus
      autem! Est dolores explicabo consectetur numquam neque quos officiis ipsa
      cumque quae vitae. Eaque sed quaerat, expedita, vel odit adipisci nemo et
      numquam nesciunt, aspernatur delectus.
    </p>
    <p>
      Nemo, assumenda inventore labore veritatis recusandae harum fugit officiis
      sunt quasi nostrum, expedita dolorum provident! Autem impedit, laborum
      minus modi sed commodi voluptate, odit eaque magnam aut nisi voluptas eos!
      Perferendis maiores sint, libero corporis tempore veniam praesentium
      asperiores distinctio labore eveniet neque, officiis ex animi a ducimus
      alias perspiciatis voluptatibus ipsa culpa facilis. Maxime rem omnis
      aliquam. Iste, itaque.
    </p>
  </div>
</div>
