@import "styles/colors.scss";

.personal {
  &__photo {
    display: flex;
    justify-content: center;
  }
}

.photo {
  display: inline-flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 20px;

  &__img {
    margin-bottom: 16px;
  }
}

.app-a {
  margin: 0;
}
